<!-- Menu Principal -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span>
        <img class="socialIcon" src="../../assets/img/logo.png" />
      </span>
      Elay Technologies</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#services">Servicios</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contactos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Cabezera -->
<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Amañados a la innovación</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Conocenos.</a>
      </div>
    </div>
  </div>
</header>

<!--Modals-->
<div class="modal fade" id="excelencia">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h3 class="modal-title text-center">Excelencia</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

      </div>
      <!--body-->
      <div class="modal-body">
          <p class="text-justify">Estamos comprometidos con altos estándares de calidad, eficiencia y productividad con el fin de superar las expectativas
              del cliente, porque nuestro éxito sólo se mide mediante el propio éxito del cliente.</p>                  
      </div>
      <!--footer-->
      <div class="modal-foorer">
        <button class="btn btn-dark btn-xl js-scroll-trigger" data-dismiss="modal">Cerrar</button>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="trabajoEnEquipo">
    <div class="modal-dialog">
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <h3 class="modal-title text-center">Trabajo en equipo</h3>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  
        </div>
        <!--body-->
        <div class="modal-body">
            <p class="text-justify">En Elay Technologies integramos las destrezas de los miembros de nuestro equipo de trabajo para potenciar sus
              esfuerzos lo cual disminuye el tiempo invertido en las labores y aumenta la eficacia de los resultados.</p>                  
        </div>
        <!--footer-->
        <div class="modal-foorer">
          <button class="btn btn-dark btn-xl js-scroll-trigger" data-dismiss="modal">Cerrar</button>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="innovacion">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h3 class="modal-title text-center">Innovación y mejora continua</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 
      </div>
      <!--body-->
      <div class="modal-body">
        <p class="text-justify">Sabemos la importancia de mirar hacia el futuro, por ende ofrecemos soluciones innovadoras que se adaptan al
            entorno con el fin de dar un apoyo y servicio óptimo a nuestros clientes, esto a través de constantes procesos
            creativos, innovación y particularidad.</p>                  
      </div>
      <!--footer-->
      <div class="modal-foorer">
        <button class="btn btn-dark btn-xl js-scroll-trigger" data-dismiss="modal">Cerrar</button>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="responsabilidad">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
      <h3 class="modal-title text-center">Responsabilidad</h3>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
   
      </div>
        <!--body-->
        <div class="modal-body">
          <p class="text-justify">Nos caracterizamos por cumplir con las obligaciones y tareas asignadas según las normas establecidas dentro y
              fuera de la empresa, además de resolver los problemas a pesar de las limitaciones de recursos que se puedan
              llegar a tener.</p>                  
        </div>
        <!--footer-->
        <div class="modal-foorer">
          <button class="btn btn-dark btn-xl js-scroll-trigger" data-dismiss="modal">Cerrar</button>
          <br>
          <br>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="comunicacion">
    <div class="modal-dialog">
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
        <h3 class="modal-title text-center">Comunicación</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     
        </div>
          <!--body-->
          <div class="modal-body">
            <p class="text-justify">Actuamos como una unidad, con solidaridad, generosidad y apoyo mutuo permitiendo que cada opinión de los miembros
              de nuestro equipo sea tenida en cuenta y aplicada en el proceso de desarrollo de nuestros productos.</p>                  
          </div>
          <!--footer-->
          <div class="modal-foorer">
            <button class="btn btn-dark btn-xl js-scroll-trigger" data-dismiss="modal">Cerrar</button>
            <br>
            <br>
          </div>
        </div>
      </div>
  </div>

<div class="modal fade" id="servicio">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
      <h3 class="modal-title text-center">Servicio</h3>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
   
      </div>
        <!--body-->
        <div class="modal-body">
          <p class="text-justify">La satisfacción y la confianza del cliente es nuestro mayor objetivo y sabemos que ofrecerle un servicio de calidad
              es el mejor camino. De esta manera cuando nos comprometemos en un proyecto ponemos todo de nuestra parte, ubicándonos
              siempre en el lugar del cliente.</p>                  
        </div>
        <!--footer-->
        <div class="modal-foorer">
          <button class="btn btn-dark btn-xl js-scroll-trigger" data-dismiss="modal">Cerrar</button>
          <br>
          <br>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="confidencialidad">
    <div class="modal-dialog">
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
        <h3 class="modal-title text-center">Confidencialidad</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     
        </div>
          <!--body-->
          <div class="modal-body">
            <p class="text-justify">La información de nuestros clientes es nuestra prioridad, por tal motivo el manejo de esta sera de manera legal
                y responsable, asegurando el pratimonio de nuestros clientes.</p>                  
          </div>
          <!--footer-->
          <div class="modal-foorer">
            <button class="btn btn-dark btn-xl js-scroll-trigger" data-dismiss="modal">Cerrar</button>
            <br>
            <br>
          </div>
        </div>
      </div>
  </div>


<!-- Acerca de nosotros -->
<section class="bg-dark text-white" id="about">
  <div class="container">
    <div class="row">
      <!-- Quienes somos -->
      <div class="text-center col-md-12">
        <h1>¿Quienes somos?</h1>
        <div class="text-justify">
          <p>Somos una empresa nariñense creada por un grupo de ingenieros de sistemas egresados de la universidad de Nariño,
            enfocada en brindar soluciones para todo tipo de problemas relacionados con las TICs (tecnologias de la informacion
            y la comunicación). Dando acompañamiento continuo de manera efectiva y oportuna en todo el proceso de adopcion
            de la solucion en su organización.</p>
        </div>
      </div>
      <!-- Mision -->
      <div class="col-md-6 text-center">
        <h1>Misión</h1>
        <div class="text-justify">
          <p>Construir y proporcionar las tecnologías más innovadoras a la medida de las necesidades del cliente, con el objetivo
            de automatizar y acelerar sus procesos, los cuales les permitirán incrementar su competitividad y productividad.</p>
        </div>
      </div>
      <!-- Vision -->
      <div class="col-md-6 text-center">
        <h1>Visión</h1>
        <div class="text-justify">
          <p>Queremos convertinos en 3 años en la empresa lider en brindar soliciones TICs en la region, comprometidos en todo
            momento con los problemas de nuestros clientes y afrontando los futuros desafíos con eficacia y transparencia
            para brindar total confianza de nuestros servicios.
          </p>
        </div>
      </div>
      <!-- Valores intitucionales -->
      <div class="text-center col-md-12">
        <br>
        <br>
        <h1>Valores institucionales</h1>
        <br>        
        <div class="row">

          <div class="text-center col-md-3">
            <a href="#excelencia" class="btn btn-light btn-xl js-scroll-trigger" data-toggle="modal">Excelencia</a>
            <br>
            <br>
          </div>
          
          <div class="text-center col-md-3">
            <a href="#trabajoEnEquipo" class="btn btn-light btn-xl js-scroll-trigger" data-toggle="modal">Trabajo en equipo</a>
          </div>

          <div class="text-center col-md-3">
            <a href="#innovacion" class="btn btn-light btn-xl js-scroll-trigger" data-toggle="modal">Innovación</a>
          </div>

          <div class="text-center col-md-3">
            <a href="#responsabilidad" class="btn btn-light btn-xl js-scroll-trigger" data-toggle="modal">Responsabilidad</a>
          </div>

          <div class="text-center col-md-4">
            <a href="#comunicacion" class="btn btn-light btn-xl js-scroll-trigger" data-toggle="modal">Comunicación</a>
          </div>

          <div class="text-center col-md-4">
            <a href="#servicio" class="btn btn-light btn-xl js-scroll-trigger" data-toggle="modal">Servicio</a>
          </div>

          <div class="text-center col-md-4">
            <a href="#confidencialidad" class="btn btn-light btn-xl js-scroll-trigger" data-toggle="modal">Confidencialidad</a>
            <br>
            <br>
            <br>
          </div>

        </div>
      </div>
      <div class="col-lg-8 mx-auto text-center">
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#services">Empezar!</a>
      </div>
    </div>
  </div>
</section>

<!-- servicios -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Nuestros Servicios</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center">
        <div class="col-lg-12 col-md-12">
          <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Desarrollo de software a la medida:</h3>
          <p class="text-muted text-justify mb-0">Contamos con el equipo de profesionales ideoneos y capacitados para afrontar cualquier reto que se nos presenten,
            trabajando con metodologias de desarrollo agiles produciremos software de alta calidad en poco tiempo, sin olvidar
            que obtendras la mejor experiencia de usuario con nuestros productos.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Asesoria tecnica y consultoria </h3>
          <p class="text-muted text-justify mb-0">You can use this theme as is, or you can make changes!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Mantenimiento de hardware y software</h3>
          <p class="text-muted text-justify mb-0">We update dependencies to keep things fresh.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Asesoria en seguridad informatica basica</h3>
          <p class="text-muted text-justify mb-0">
            Nuestro equipo tiene los conocimientos necesarios para poder darte la mejor asesoria y/o capacitacion en seguridad informatica,
            diferentes tecnologias y ambitos en TICs para incrementar la confianza de tus clientes.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Administracion de servidores </h3>
          <p class="text-muted text-justify mb-0">
            Somo capaces de administrar servidores, ya sea desde la instalacion y c onfiguracion de su sistema operativo, como tambien
            la configuracion de sus diferentes servicios que este prestara, garantizandote que tu servidor este en operacion
            24/7 para que tu negocio se encuentre siempre disponible a traves de internet.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 mx-auto text-center">
    <hr>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#contact">Contactanos!</a>
  </div>
</section>

<!-- contactos -->
<section id="contact" class="sec">
  <div class="container">
    <div class="row">

      <div class="text-center col-lg-12 col-md-12">
        <h1>Contactos</h1>
        <hr>
      </div>

      <div class="col-md-6 col-lg-6">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email
              <span class="red">*</span>
            </label>
            <input type="email" id="email" class="form-control" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required
              [(ngModel)]="email" placeholder="name@example.com">
            <div *ngIf="formErrors.email" class="alert alert-danger">
              {{ formErrors.email }}
            </div>
          </div>
          <div class="form-group">
            <label>Telefono o Celular</label>
            <input type="tel" id="phone" class="form-control" placeholder="Numero Telefono o celular" maxlength="15" name="phone" [(ngModel)]="phone">
            <div *ngIf="formErrors.phone" class="alert alert-danger">
              {{ formErrors.phone }}
            </div>
          </div>
          <div class="form-group">
            <label>Comentario <span class="red">*</span></label>
            <textarea class="form-control" id="pqrs" name="pqrs" [(ngModel)]="pqrs" 
            placeholder="Comentario" required maxlength="120"></textarea>
            <div *ngIf="formErrors.pqrs" class="alert alert-danger">
              {{ formErrors.pqrs }}
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-success" name="btnLogin" [disabled]="!loginForm.form.valid">Enviar</button>
        </form>
      </div>

      <div class="col-md-6 col-lg-6">
        CORREO: elaytechnologies@hotmail.com
        <br> CELULAR: 3126595489
        <br> DIRECCIÓN: CARRERA 9 CON CALLE 5 ESQUINA LETICIA AMAZONAS
      </div>

      <div class="text-center col-lg-12 col-md-12">
        <hr>
        <a>
          <img class="socialIcon" src="../../assets/img/socialNetwork/Facebook.ico">
        </a>

        <a>
          <img class="socialIcon" src="../../assets/img/socialNetwork/GooglePlus.ico">
        </a>

        <a>
          <img class="socialIcon" src="../../assets/img/socialNetwork/Twitter.ico">
        </a>

        <a>
          <img class="socialIcon" src="../../assets/img/socialNetwork/Youtube.ico">
        </a>

      </div>
    </div>
  </div>
</section>

